// body{
//     background-image: url("E:/Images/light-blue.jpg");
//     background-attachment: fixed;
//     background-size: cover;
//     background-repeat: no-repeat;
//   }

  .container{
    width:600px;

  }

.emp-text{
  font-size:15px;

}
.card{
   position:relative;
    top: 160px;
    left: 0;
   
}
.card h1 p{
color: white;

}
.btn{
  width: 300px;
    margin-left: auto;
}
.text{
  margin-left: 42px;
}
