
    <!-- <div > 
        
    <ul class=" nav justify-content-end p-2 fixed-top">
      
     
      
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fas fa-comments text-white"></i></a>
        </li>
          <li class="nav-item">

          </li>
         <li class="nav-item">
        
          </li> 
          <li class="nav-item bg-danger">
            
            </li>
            
         </ul>
 
  </div> -->
  <div class=""> 
        
    <ul class=" nav justify-content-end p-2 fixed-top" style="height: 56px">
       
        <li class="nav-item">
          <a class="nav-link text-white" href="#"></a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-white ntfy" routerLink="/noticeboard" href="#"></a>
          </li>
         <li class="nav-item">
            <a class="nav-link text-white" href="#"></a>
          <!-- </li>
       <a href="#" class="btn btn-danger"><i class="fas fa-power-off text-white"></i></a> -->
        <li class="text-white">
            <!-- <a class="text-white btn" role="button" routerLink="/noticeboard" (click)="logoutUser()"> <i class="fas fa-power-off mr-2 "></i></a> -->
          </li>
         </ul>
  </div>


      
      <div class=" p-2 fixed-top">
          <div class="">
              <img src="./assets/img/site-logo.png" height="50px" width="200px" class="">
              <i class="fas fa-bars barIcon"></i>
            </div>
          
        <!-- <div class="iconBar">
            <a class=" text-white" href="#"><i class="fas fa-comments text-white mr-4"></i></a>
         <a class=" text-white " routerLink="/noticeboard" href="#"><i class="fa fa-bell mr-4"></i> <span class="badge badge-danger">1</span></a>
         <a class=" text-white" href="#"><i class="fa fa-refresh text-white mr-4"></i></a>
        <a class=" text-white "  role="button" (click)="logoutUser()"> <i class="fas fa-power-off"></i></a>
          </div> -->
    </div> 



