<div class="container"> 
    <div class="page-bar">
           <h3 class="titleName">
              Profile
             </h3>
              <ul class="page-breadcrumb">
             <li class="Homebar">
               <i class="fa fa-home"></i>
               <a href="#" routerLink="/homepage">Home</a>
              
             </li>
             <li>
                 <i class="fa fa-angle-right"></i>
               <a href="#" routerLink="">Profile</a>
              </li>
            </ul>  
         </div>
           


<div class="row">
    <div class="col-3 font-weight-bold tabs">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active border" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="viewprofiledetails()"> <i class="fas fa-user-tie fa-1x mr-2"></i>Employee Details </a>
 
  <a class="nav-link border  text-warning" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="vieweducationdetails()">  <i class="fas fa-user-graduate mr-2"></i>Education Details</a>
     
      <a class="nav-link border text-danger" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" (click)="viewbankdetails()"> 
      <i class="fas fa-university  mr-2"></i>
      Bank Details</a>
        <!-- <a class="nav-link border text-success" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            <i class="fas fa-briefcase  mr-2"></i>Company Details</a> -->
            <a class="nav-link border text-success" id="v-pills-settings-tab1" data-toggle="pill" href="#v-pills-personal" role="tab" aria-controls="v-pills-settings-tab1" aria-selected="false"  (click)="viewpersonaldetails()">
              <i class="fas fa-briefcase  mr-2" ></i>personal Details</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <table class="table table-hover border border-left">
            <tbody >
            <tr>
            <td>ID</td>
            <td>:</td>
            <td>{{id}}</td>
            </tr>
            <tr>
              <td>FullName</td>
              <td>:</td>
              <td>{{name}}</td>
              </tr>
            <tr>
            <td>Phone</td>
            <td>:</td>
            <td>{{phone}}</td>
            </tr>
            <tr>
            <td>DOB</td>
            <td>:</td>
            <td>{{DOB}}</td>
            </tr>
            <tr>
                <tr>
                    <td>DOJ</td>
                    <td>:</td>
                    <td>{{DOJ}}</td>
                    </tr>
                    <tr>
            <td>Gender</td>
            <td>:</td>
            <td>{{gender11}}</td>
            </tr>
            <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{email1}}</td>
            </tr>
            <tr>
                <td>Reporting Manager</td>
                <td>:</td>
                <td>{{reportingmanager}}</td>
          </tr>
           <tr>
                    <td>Next to reporting manager</td>
                    <td>:</td>
                    <td>{{nexttoreportingmanager}}</td>
            </tr>
            <tr>
                <td>HR Manager</td>
                <td>:</td>
                <td>{{hrmanager}}</td>
        </tr>
            
           
           
            </tbody>
            </table>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#EmployeeDetailsModal">
              Edit
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="EmployeeDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Employee Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="form" #regForm="ngForm" novalidate>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput name="fullname" 
                          Autocomplete="off" 
                          [(ngModel)]="profiledetailsdata.fullname" #firstname="ngModel"
                           pattern="[a-zA-Z\s]+"  
                           placeholder="Full Name" required>
                           <mat-error *ngIf="firstname.invalid &&(firstname.dirty || firstname.touched)">
                             <div *ngIf="firstname.hasError('required')">
                              Please enter First Name
                             </div>
                             <div *ngIf="firstname.hasError('pattern')">
                              please enter alphabets only.
            
                            </div>
              
                           </mat-error>
                        
                        </mat-form-field></div>
                        
                                <div class="col-lg-6 mt-3">
                                    <mat-form-field>
                                      <input type="date" name="DOB" 
                                      Autocomplete="off" 
                                      [(ngModel)]=" profiledetailsdata.DOB"  
                                      #Dob="ngModel"
                                      matInput 
                                      placeholder="DOB" required>
                                      <mat-error *ngIf="Dob.invalid && (Dob.dirty || Dob.touched)">
                                        <div *ngIf="Dob.hasError('required')">
                                         please enter Date of Birth
                                        </div>
                 
                                      </mat-error>
                                      </mat-form-field>
                                  </div>
                           
                 </div>
                 <div class="row">


                    <div class="col-lg-6 mt-3">
                        <mat-form-field>
                          <input type="date" name="DOJ" 
                          Autocomplete="off" 
                          [(ngModel)]=" profiledetailsdata.DOJ"  
                          #Dob="ngModel"
                          matInput 
                          placeholder="DOJ" required>
                          <mat-error *ngIf="Dob.invalid && (Dob.dirty || Dob.touched)">
                            <div *ngIf="Dob.hasError('required')">
                             please enter Date of Birth
                            </div>
     
                          </mat-error>
                          </mat-form-field>
                      </div>


                    <div class="col-lg-6">
                        <span class="input-group-text">Gender :</span>
                        <div class="input-group">                                   
                                                                      
                                <input type="radio"   name="gender" required
                                value="male" #gender="ngModel"
                                [(ngModel)]=" profiledetailsdata.gender" class="mt-1">Male 
        &nbsp;&nbsp;&nbsp;<input type="radio"   name="gender" 
        value="female" required #gender="ngModel"
        [(ngModel)]=" profiledetailsdata.gender"class="mt-1">Female
       
                              </div>
                              <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                                <div *ngIf="gender.hasError('required')"> 
                                  Please Select Gender
                                </div>
                              </mat-error>       
                 
                      </div>
               
               
                 </div>
                 <div class="row">
                  <div class="col-lg-6">
                  <mat-form-field>
                      <input type="email" name="email" 
                      Autocomplete="off" 
                      [(ngModel)]=" profiledetailsdata.email" matInput 
                      #email="ngModel"
                      pattern="(\W|^)[\w.+\-]*@zyclyx\.com(\W|$)"
                      placeholder="Email" required>
                      <mat-error *ngIf="email.invalid &&(email.dirty || email.touched)">
                      <div *ngIf="email.hasError('required')">
                        Please enter Email Id
                      </div>
                      <div *ngIf="email.hasError('pattern')">
                        Please enter Zyclyx Email Id
      
                      </div>
                      
                    </mat-error>
                     </mat-form-field></div>
                     <div class="col-lg-6">
                      <mat-form-field>
                     <input matInput  name="phone" 
                     Autocomplete="off" 
                     [(ngModel)]=" profiledetailsdata.phone"
                     #phoneno ="ngModel"
                      pattern="[0-9]{10,10}"
                      placeholder="Phone Number" required>
                      <mat-error *ngIf="phoneno.invalid && (phoneno.dirty || phoneno.touched)">
                        <div *ngIf="phoneno.hasError('required')">
                          Please enter Mobile Number
                        </div>
                        
                        <div *ngIf="phoneno.hasError('pattern')" >
                          Please enter valid mobile number
                        </div>
                      </mat-error>
                     </mat-form-field></div>
           </div>
           <div class="row">
            <div class="col-lg-6">
              <mat-form-field>
                <textarea matInput name="reportingmanager" 
                Autocomplete="off" 
                [(ngModel)]=" profiledetailsdata.reportingmanager"
                #locAdd ="ngModel"
               placeholder="ReportingManager" required></textarea>
                 <mat-error *ngIf="locAdd.invalid && (locAdd.dirty || locAdd.touched)">
                   <div *ngIf="locAdd.hasError('required')">
                     Please enter Local Address
                   </div>
     
                 </mat-error>
                </mat-form-field></div>
               <div class="col-lg-6">
                <mat-form-field>
               <textarea matInput name="nextreportingmanager" 
               Autocomplete="off" 
               [(ngModel)]=" profiledetailsdata.nextreportingmanager"
               #perAdd ="ngModel"
              placeholder="Next Reporting Manager" required></textarea>
                <mat-error *ngIf="perAdd.invalid && (perAdd.dirty || perAdd.touched)">
                  <div *ngIf="perAdd.hasError('required')">
                    Please enter Permanent Address
                  </div>
    
                </mat-error>
               </mat-form-field></div>
     </div>
     <div class="row">
      <div class="col-lg-6">
      <mat-form-field>
         <input type="text" name="hrmanager" 
         Autocomplete="off" 
         [(ngModel)]=" profiledetailsdata.hrmanager" matInput 
         #bloodGroup="ngModel"
         
         placeholder="HR Manager" required>
         <mat-error *ngIf="bloodGroup.invalid &&(bloodGroup.dirty || bloodGroup.touched)">
          <div *ngIf="bloodGroup.hasError('required')">
            Please enter Blood Group
          </div>
                   
        </mat-error>
         </mat-form-field></div>
        
     </div>
                </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="editprofile()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <table class="table border border-left">
            <thead>
            <tr>
            <th scope="col" class="font-weight-bold">Qualification</th>
            <th scope="col" class="font-weight-bold">:</th>
            <th scope="col" class="font-weight-bold">Institution Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>SSC</td>
            <td>:</td>
            <td>{{school}}</td>
            </tr>
            <tr>
            <td>+2</td>
            <td>:</td>
            <td>{{collegeOne}}</td>
            </tr>
            <tr>
            <td>Degree</td>
            <td>:</td>
            <td>{{collegeTwo}}</td>
            </tr>
            <tr>
              <td>PG</td>
              <td>:</td>
              <td>{{collegeThree}}</td>
              </tr>
            </tbody>
            </table> 
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#eduacationDetailsModal">
              Edit
            </button>
              <div class="modal fade" id="eduacationDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Efduacation Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="form" #regForm="ngForm" novalidate>
                      <div class="row">
                        <div class="col-lg-6">
                      <mat-form-field>
                        <input matInput name="tenth" 
                        Autocomplete="off" 
                        [(ngModel)]=" educationaldata.tenth" #tenth="ngModel"
                         pattern="[a-zA-Z\s]+"  
                         placeholder="Tenth class" required>
                         <mat-error *ngIf="tenth.invalid &&(tenth.dirty || tenth.touched)">
                           <div *ngIf="tenth.hasError('required')">
                            Please enter Tenth  School Name
                           </div>
                       
                         </mat-error>
                      
                      </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput name="intermediate" 
                          Autocomplete="off" 
                          [(ngModel)]=" educationaldata.intermediate"#intermediate="ngModel"
                           pattern="[a-zA-Z\s]+"  
                           placeholder="intermediate" required>
                           <mat-error *ngIf="intermediate.invalid &&(intermediate.dirty || intermediate.touched)">
                             <div *ngIf="intermediate.hasError('required')">
                              Please enter College Name
                             </div>
                            </mat-error>
                      
                          </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                    <mat-form-field>
                      <input matInput name="degree" 
                      Autocomplete="off" 
                      [(ngModel)]=" educationaldata.degree" #degree="ngModel"
                       pattern="[a-zA-Z\s]+"  
                       placeholder="Degree/B.Tech" required>
                       <mat-error *ngIf="degree.invalid &&(degree.dirty || degree.touched)">
                         <div *ngIf="degree.hasError('required')">
                          Please enter  College Name
                         </div>
                          <div *ngIf="firstname.hasError('pattern')">
                          please enter alphabets only.
        
                        </div> 
          
                       </mat-error>
                    
                    </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                      <mat-form-field>
                        <input matInput name="pg" 
                        Autocomplete="off" 
                        [(ngModel)]=" educationaldata.pg" #pg="ngModel"
                         pattern="[a-zA-Z\s]+"  
                         placeholder="Post Graduation" required>
                         <mat-error *ngIf="pg.invalid &&(pg.dirty || pg.touched)">
                           <div *ngIf="pg.hasError('required')">
                            Please enter College Name
                           </div>
                          </mat-error>
                    
                        </mat-form-field>
                    </div>
                  </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary"  data-dismiss="modal" (click)="educationaldetails()">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 

        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <table class="table border border-left">
      
            <tbody>
            <tr>
            <td>Account Holder Name	</td>
            <td>:</td>
            <td>{{accountholder}}</td>
            </tr>
            <tr>
            <td>Account Number	</td>
            <td>:</td>
            <td>{{accountnumber}}</td>
            </tr>
            <tr>
            <td>Bank Name</td>
            <td>:</td>
            <td>{{bankname}}</td>
            </tr>
            <tr>
            <td>PAN Number</td>
            <td>:</td>
            <td>{{pannumber}}</td>
            </tr>
            <tr>
            <td>IFSC Code</td>
            <td>:</td>
            <td>{{ifsccode}}</td>
            </tr>
            <tr>
            <td>Branch</td>
            <td>:</td>
            <td>{{branch}}</td>
            </tr>
            </tbody>
            </table>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#bankModalDetails">
              Edit
            </button>
             <div class="modal fade" id="bankModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Bank Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="form" #regForm="ngForm" novalidate>
                      <div class="row">
                          <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput name="accountholder" 
                          Autocomplete="off" 
                          [(ngModel)]=" bankdata.accountholder" #hName="ngModel"
                           pattern="[a-zA-Z\s]+"  
                           placeholder="Account Holder Name" required>
                           <mat-error *ngIf="hName.invalid &&(hName.dirty || hName.touched)">
                             <div *ngIf="hName.hasError('required')">
                              Please Enter Account Holder Name
                             </div>
                          
              
                           </mat-error>
                        
                        </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                          <mat-form-field>
                            <input matInput name="accountnumber" 
                            Autocomplete="off" 
                            [(ngModel)]=" bankdata.accountnumber" #AcNo="ngModel"
                             pattern="[0-9]+"  
                             placeholder="Account Number" required>
                             <mat-error *ngIf="AcNo.invalid &&(AcNo.dirty || AcNo.touched)">
                               <div *ngIf="AcNo.hasError('required')">
                                Please Enter Account Number
                               </div>
                              <div *ngIf="AcNo.hasError('pattern')">
                              Please Enter Numbers Only.
            
                            </div> 
                              </mat-error>
                        
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                      <mat-form-field>
                        <input matInput name="bankname" 
                        Autocomplete="off" 
                        [(ngModel)]=" bankdata.bankname" #bankName="ngModel"
                         pattern="[a-zA-Z\s]+"  
                         placeholder="Bank Name" required>
                         <mat-error *ngIf="bankName.invalid &&(bankName.dirty || bankName.touched)">
                           <div *ngIf="bankName.hasError('required')">
                            Please Enter Bank Name
                           </div>
                         
            
                         </mat-error>
                      
                      </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput name="pannumber" 
                          Autocomplete="off" 
                          [(ngModel)]=" bankdata.pannumber" #PanNo="ngModel"
                           pattern="[0-9]+"  
                           placeholder="PAN Card Number" required>
                           <mat-error *ngIf="PanNo.invalid &&(PanNo.dirty || PanNo.touched)">
                             <div *ngIf="PanNo.hasError('required')">
                              Please Enter Account Number
                             </div>
                          
                            </mat-error>
                      
                          </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                    <mat-form-field>
                      <input matInput name="ifsccode" 
                      Autocomplete="off" 
                      [(ngModel)]=" bankdata.ifsccode" #IFSCCode="ngModel"
                       pattern="[a-zA-Z\s]+"  
                       placeholder="IFSC Code" required>
                       <!-- <mat-error *ngIf="IFSCCode.invalid &&(IFSCCode.dirty || IFSCCode.touched)">
                         <div *ngIf="IFSCCode.hasError('required')">
                          Please Enter IFSC Code
                         </div>
                          <div *ngIf="firstname.hasError('pattern')">
                          please enter alphabets only.
        
                        </div> 
          
                       </mat-error> -->
                    
                    </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                      <mat-form-field>
                        <input matInput name="branch" 
                        Autocomplete="off" 
                        [(ngModel)]=" bankdata.branch" #branchName="ngModel"
                         pattern="[0-9]+"  
                         placeholder="Branch Name" required>
                         <!-- <mat-error *ngIf="branchName.invalid &&(branchName.dirty || branchName.touched)">
                           <div *ngIf="branchName.hasError('required')">
                            Please Enter Branch Name
                           </div>
                           <div *ngIf="firstname.hasError('pattern')">
                          Please Enter Numbers Only.
        
                        </div> 
                          </mat-error> -->
                    
                        </mat-form-field>
                    </div>
                  </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="dankdetails()" data-dismiss="modal">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 

        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <table class="table border border-left">
      
            <tbody>
            <tr>
            <td>Employee ID</td>
            <td>:</td>
            <td>ZYX_02_20_2019</td>
            </tr>
            <tr>
              <td>Full Name</td>
              <td>:</td>
              <td></td>
            </tr>
            <tr>
            <td>Department</td>
            <td>:</td>
            <td>ALL</td>
            </tr>
            <tr>
            <td>Designation</td>
            <td>:</td>
            <td>Developer</td>
            </tr>
            <tr>
            <td>Date of Joining</td>
            <td>:</td>
            <td>02-Jan-2019</td>
            </tr>
            <tr>
            <td>Salary ( $ )</td>
            <td>:</td>
            <td>40,000PM</td>
            </tr>
            </tbody>
            </table>
            
        </div>
        <div class="tab-pane fade" id="v-pills-personal" role="tabpanel" aria-labelledby="v-pills-personal-tab">
          <table class="table border border-left">
      
            <tbody>
            <tr>
            <td>Primary Email	</td>
            <td>:</td>
            <td>{{primaryemail}}</td>
            </tr>
            <tr>
            <td>Secondary Email	</td>
            <td>:</td>
            <td>{{secondaryemail}}</td>
            </tr>
            <tr>
              <td>
                Primary Mobile Number
              </td>
              <td>:</td>
              <td>{{primaryphone}}</td>
            </tr>
            <tr>
              <td>
                Secondary Mobile Number
              </td>
              <td>:</td>
              <td>{{secondaryphone}}</td>
            </tr>
            <tr>
            <td>Guardian</td>
            <td>:</td>
            <td>{{guardian}}</td>
            </tr>
            <tr>
            <td>Guardian Number</td>
            <td>:</td>
            <td>{{guardianphone}}</td>
            </tr>
           
          
            </tbody>
            </table>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#personalModalDetails">
              Edit
            </button>
              <div class="modal fade" id="personalModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
               <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                   <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Bank Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                   <div class="modal-body">
                    <form class="form" #regForm="ngForm" novalidate>
                       <div class="row">
                          <div class="col-lg-6">
                        <mat-form-field>
                            <input type="email" name="primaryemail" 
                            Autocomplete="off" 
                            [(ngModel)]=" personaldetailsdata.primaryemail" matInput 
                            #PriEmail="ngModel"
                            pattern="([A-Za-z0-9_\-\.])+([A-Za-z0-9_\-\.])+([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})"
                            placeholder="Primary Email" required>
                            <mat-error *ngIf="PriEmail.invalid &&(PriEmail.dirty || PriEmail.touched)">
                            <div *ngIf="PriEmail.hasError('required')">
                              Please enter Email Id
                            </div>
                            <div *ngIf="PriEmail.hasError('pattern')">
                              Please Enter Valid Email Id
            
                            </div>
                            
                          </mat-error>
                        
                        </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                          <mat-form-field>
                              <input type="email" name="secondaryemail" 
                              Autocomplete="off" 
                              [(ngModel)]=" personaldetailsdata.secondaryemail" matInput 
                              #secEmail="ngModel"
                              pattern="([A-Za-z0-9_\-\.])+([A-Za-z0-9_\-\.])+([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})"
                              placeholder="Secondary Email">
                              <mat-error *ngIf="secEmail.invalid &&(secEmail.dirty || secEmail.touched)">
                              
                              <div *ngIf="secEmail.hasError('pattern')">
                                Please Enter Valid Email Id
              
                              </div>
                              
                            </mat-error>
                        
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput  name="primaryphone" 
                          Autocomplete="off" 
                          [(ngModel)]=" personaldetailsdata.primaryphone"
                          #pMobNo ="ngModel"
                           pattern="[0-9]{10,10}"
                           placeholder="Primary Phone Number" required>
                           <mat-error *ngIf="pMobNo.invalid && (pMobNo.dirty || pMobNo.touched)">
                             <div *ngIf="pMobNo.hasError('required')">
                               Please Enter Primary  Mobile Number
                             </div>
                             
                             <div *ngIf="pMobNo.hasError('pattern')" >
                               Please enter valid mobile number
                             </div>
                           </mat-error>
                      
                      </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput  name="secondaryphone" 
                            Autocomplete="off" 
                            [(ngModel)]=" personaldetailsdata.secondaryphone"
                            #sMobNo ="ngModel"
                             pattern="[0-9]{10,10}"
                             placeholder="Secondary Phone Number" required>
                             <mat-error *ngIf="sMobNo.invalid && (sMobNo.dirty || sMobNo.touched)">
                               <div *ngIf="sMobNo.hasError('required')">
                                 Please Enter Secondary Mobile Number
                               </div>
                               
                               <div *ngIf="pMobNo.hasError('pattern')" >
                                 Please enter valid mobile number
                               </div>
                             </mat-error>
                    </mat-form-field>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-6">
                      <mat-form-field>
                        <input matInput name="guardian" 
                        Autocomplete="off" 
                        [(ngModel)]=" personaldetailsdata.guardian" #guardianName="ngModel"
                         pattern="[0-9]+"  
                         placeholder="guardian Name" required>
                         <!-- <mat-error *ngIf="guardianName.invalid &&(guardianName.dirty || guardianName.touched)">
                           <div *ngIf="guardianName.hasError('required')">
                            Please Enter Guardian Name
                           </div>
                           <div *ngIf="firstname.hasError('pattern')">
                          Please Enter Numbers Only.
        
                        </div>  
                          </mat-error> -->
                    
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput  name="guardiannumber" 
                            Autocomplete="off" 
                            [(ngModel)]=" personaldetailsdata.guardiannumber"
                            #guardianMobNo ="ngModel"
                             pattern="[0-9]{10,10}"
                             placeholder="Guardian Phone Number" required>
                             <!-- <mat-error *ngIf="guardianMobNo.invalid && (guardianMobNo.dirty || guardianMobNo.touched)">
                               <div *ngIf="guardianMobNo.hasError('required')">
                                 Please Enter Guardian Mobile Number
                               </div>
                               
                               <div *ngIf="guardianMobNo.hasError('pattern')" >
                                 Please enter valid mobile number
                               </div>
                             </mat-error> -->
                        
                        </mat-form-field>
                    </div>
                  </div> -->
                    </form>
                  </div>  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"(click)="personaldetails()"  data-dismiss="modal"s >Save changes</button>
                  </div>
                </div>
              </div>
            </div> 
        </div>
      </div>
    </div>
  </div>

